# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/
ENV/

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store

# Logs
*.log

# dotenv environment variables
.env
